
@import '../../styles/variables';

.attachmentcard-default {
    background-color: $component-paper-default-background-color!important;
    box-shadow: $component-default-box-shadow;
    border-radius: $component-default-border-radius;
    height: 200px !important;
    width: 200px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: unset;
    position: relative !important;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $component-default-border-radius;
    }

    .file-remove {
        position: absolute;
        color: $component-text-default-color-1!important;
        font-size: 20px;
        background-color: $component-paper-default-background-color !important;
        box-shadow: $component-default-box-shadow;
        padding: 12px;
        top: -4px;
        right: -4px;
        transition: 0.2s;

        &:hover {
            color: #fff !important;
            background-color: $component-default-background-color-red !important;
        }
    }


    .file-icon {
        font-size: 28px;
        color: $component-text-default-color-1;
    }

    .file-name {
        font-size: 14px;
        display: block;
        width: 80%;
        margin: 8px auto 12px auto;
        text-align: center;
        color: $component-text-default-color-1;

        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }


    &.file-new-trigger {
        background-color: $color-secondary !important;

        .file-icon, 
        .file-name {
            color: #fff;
        }
    }
}


@media screen and (max-width: $screen-size-md) {
    .attachmentcard-default {
        height: 160px !important;
        width: 160px !important;
    }
}
