@use "sass:color";


// Responsive Dimensions
$screen-size-xs: 0px;
$screen-size-sm: 600px;
$screen-size-md: 900px;
$screen-size-lg: 1200px;
$screen-size-xl: 1536px;



// Colors
$color-primary: #e5153f;
$color-secondary: #3a499a;

$screen-background-color: #f0efef;

$component-default-background-color-primary: $color-primary;
$component-default-background-color-secondary: $color-secondary;
$component-default-background-color-blue: #1976d2;
$component-default-background-color-green: #43a047;
$component-default-background-color-red: #d32f2f;
$component-default-background-color-cyan: #0097a7;
$component-default-background-color-grey: #e0e0e0;
$component-default-background-color-amber: #ffa000;
$component-default-background-color-brown: #795548;
$component-default-background-color-pink: #e91e63;
$component-default-background-color-blue-grey: #6F8C9A;


$component-text-primary-color: $color-primary;
$component-text-secondary-color: $color-secondary;
$component-text-default-color-1: #060608;
$component-text-default-color-2: #9e9e9e;
$component-text-default-color-3: #5E6C84;



// Defaults
$component-default-border-radius: 40px;
$component-default-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
$component-default-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);



// Backdrop
$component-backdrop-default-background-color: rgba(0, 0, 0, 0.6);



// Loading
$component-loading-default-background-color: rgba(0, 0, 0, 0.8);
$component-loading-default-color: #fff;



// Divider
$component-divider-default-border-color: #e0e0e0;



// Tooltip
$component-tooltip-default-background-color: #000;
$component-tooltip-default-color: #fff;



// Paper
$component-paper-default-background-color: #fff;



// Switch
$component-switch-variant-default-default-color: #fff;
$component-switch-variant-default-default-fill: '%23fff';
$component-switch-variant-default-track-default-background-color: #212121;
$component-switch-variant-default-thumb-default-background-color: #fff;
$component-switch-variant-default-track-actived-default-background-color: #007ABC;
$component-switch-variant-default-thumb-actived-default-background-color: #007ABC;

$component-switch-variant-theme-default-color: #fff;
$component-switch-variant-theme-default-fill: '%23fff';
$component-switch-variant-theme-track-default-background-color: #c6c6c6;
$component-switch-variant-theme-thumb-default-background-color: #001e3c;



// Checkbox
$component-checkbox-default-color: #5E6C84;
$component-checkbox-indeterminate-default-color: #9e9e9e;
$component-checkbox-checked-default-color: $color-primary;


$component-switch-variant-default-default-fill: '%23fff';
$component-switch-variant-default-track-default-background-color: #212121;
$component-switch-variant-default-thumb-default-background-color: #fff;
$component-switch-variant-default-track-actived-default-background-color: #007ABC;
$component-switch-variant-default-thumb-actived-default-background-color: #007ABC;

$component-switch-variant-theme-default-color: #fff;
$component-switch-variant-theme-default-fill: '%23fff';
$component-switch-variant-theme-track-default-background-color: #c6c6c6;
$component-switch-variant-theme-thumb-default-background-color: #001e3c;



// Button
$component-button-default-border-radius: $component-default-border-radius;



// Text Field
$component-textfield-default-border-color: #969696;
$component-textfield-label-default-color: #727272;
$component-textfield-actived-default-border-color: color.adjust($color-primary, $alpha: -0.4);
$component-textfield-actived-label-default-border-color: $color-primary;



// Select Field
$component-selectfield-default-border-color: #969696;
$component-selectfield-label-default-color: #727272;
$component-selectfield-actived-default-border-color: color.adjust($color-primary, $alpha: -0.4);
$component-selectfield-actived-label-default-border-color: $color-primary;



// Dialog
$component-dialog-default-border-radius: 20px;
$component-dialog-sectiontitle-default-background-color: color.adjust($color-primary, $alpha: -0.1);



// Drawer
$component-drawer-default-width: 320px;



// Radio Option
$component-radiooption-default-background-color: #fff;
$component-radiooption-default-color: $component-text-default-color-1;
$component-radiooption-selected-default-background-color: color.adjust($color-primary, $alpha: -0.1);
$component-radiooption-selected-default-color: #fff;



// Stepper
$component-stepper-container-default-background-color: color.adjust($color-primary, $alpha: -0.8);
$component-stepper-progress-default-background-color: $color-primary;



// Admin - Appbar
$admin-appbar-width: 80px;
$admin-appbar-height: 60px;
$admin-appbar-background-color: #fff;
$admin-appbar-navigation-link-hover-background-color: color.adjust($color-primary, $alpha: -0.9);
$admin-appbar-navigation-link-hover-color: $color-primary;
$admin-appbar-logout-color: #e53935;
$admin-appbar-avatar-color: rgba(255, 255, 255, 1);
$admin-appbar-avatar-background-color: #bdbdbd;



// Admin - Navigation
$admin-navigation-background-color: #fff;

$admin-navigation-link-hover-background-color: color.adjust($color-primary, $alpha: -0.92);
$admin-navigation-link-selected-background-color: color.adjust($color-primary, $alpha: -0.88);
$admin-navigation-link-expanded-trigger-background-color: color.adjust($color-primary, $alpha: -0.92);
$admin-navigation-link-expanded-container-background-color: transparent;




// Admin - Content
$admin-content-background-color: #f5f5f5;

// Admin - Content (Header)
$admin-content-header-height: 80px;
$admin-content-header-title-color: $color-primary;
$admin-content-header-description-color: $color-secondary;
$admin-content-header-iconbutton-color: $color-primary;