
@import '../../styles/variables';


.checkbox-default {
    &.MuiCheckbox-root {
        color: $component-checkbox-default-color !important;
        transition: 0.4s;

        &.Mui-checked {
            color: $component-checkbox-checked-default-color !important;

            ~ .MuiTypography-root {
                color: $component-checkbox-checked-default-color !important;
            }
        }
        
        &.MuiCheckbox-indeterminate {
            color: $component-checkbox-indeterminate-default-color !important;
        }
    }
}
